.avatar-profile{
  background:$shade-dark;
  background: #DBDBDB;
  height: 100px;
  display: block;
  border-radius: 3px;
  margin-bottom: 10px;
  width:100%;
  img{
    background-size: cover;
    position: relative;
    display: block;
    padding: 10px;
    background: white;
    //width: 100px;
    width:100%;
    border: 1px solid #ededed;
    border-radius: 4px;
  }
}
